rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /lieux/{lieuId} {
      allow read: if true;

      allow create: if request.resource.data.keys().hasOnly([
          'idLieu',
          'nom',
          'description',
          'adresse',
          'horaire',
          'imageUrl',
          'categorie',
        ])
        && request.resource.data.idLieu is int
        && request.resource.data.nom is string
        && request.resource.data.nom.size() > 0
        && request.resource.data.nom.size() <= 80
        && request.resource.data.description is string
        && request.resource.data.description.size() <= 500
        && request.resource.data.adresse is latlng
        && request.resource.data.horaire is string
        && request.resource.data.horaire.size() <= 40
        && request.resource.data.imageUrl is string
        && request.resource.data.imageUrl.size() <= 500
        && request.resource.data.categorie in [
          'repas',
          'bibliotheque',
          'associations',
          'services',
          'proximite',
        ];

      allow update, delete: if false;
    }
  }
}
